<a href class="sidebar-toggle" data-toggle="push-menu" role="button">
  <span class="sr-only">Toggle navigation</span>
</a>
<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- <li class="dropdown messages-menu" ng-include="'src/template/header/navbar/messages.html'" ng-controller="mensagemCtrl as vm"></li>
    <li class="dropdown messages-menu" ng-include="'src/template/header/navbar/atendimentos.html'" ng-controller="atendimentoCtrl as vm"></li>
    <li class="dropdown tasks-menu" ng-include="'src/template/header/navbar/tasks.html'" ng-controller="ticketCtrl as vm"></li>
    <li class="dropdown notifications-menu" ng-include="'src/template/header/navbar/notifications.html'" ng-controller="notificacaoCtrl as vm"></li>
  	<li class="dropdown user user-menu" ng-include="'src/template/header/navbar/postit.html'"></li>
    <li class="dropdown user user-menu" ng-include="'src/template/header/navbar/agenda.html'"></li>
    <li class="dropdown user user-menu" ng-include="'src/template/header/navbar/user.html'" ng-controller="AuthCtrl as auth"></li> -->
  </ul>
</div>
