<content-header name="Cadastros" small="Fundo de Garantia de Operações de Crédito"></content-header>

<section class="content">
   <div class="nav-tabs-custom" ng-controller="crmCtrl">
     <ul class="nav nav-tabs">
       <li ng-if="tabList" ng-class="{active: tabList}">
          <a href data-target="#tabLists" data-toggle="tab">
            <i class="fa fa-bars"></i> Lista
         </a>
      </li>
      <li ng-if="tabCreate">
         <a href data-target="#tabCreates" data-toggle="tab">
            <i class="fa fa-plus"></i> Incluir
         </a>
      </li>
      <li ng-if="tabUpdate" ng-class="{active: tabUpdate}">
         <a href data-target="#tabUpdate" data-toggle="tab">
            <i class="fa fa-pencil"></i> Cadastro
         </a>
      </li>
      <li ng-if="tabUpdate">
         <a href data-target="#tabLog" data-toggle="tab">
            <i class="fa fa-list-ul"></i> Log de Envio
         </a>
      </li>
       <li ng-if="tabDelete" ng-class="{active: tabDelete}">
          <a href data-target="#tabDelete" data-toggle="tab">
            <i class="fa fa-trash-o"></i> Excluir
         </a>
      </li>
     </ul>

     <div class="tab-content">
       <div class="tab-pane"
           id="tabLists"
           ng-if="tabList"
           ng-class="{active: tabList}"
           ng-include="'src/pronampe/list.html'"></div>
       <div class="tab-pane"
           id="tabCreates"
           ng-if="tabCreate"
           ng-include="'src/pronampe/form.html'"></div>
       <div class="tab-pane"
           id="tabUpdate"
           ng-if="tabUpdate"
           ng-class="{active: tabUpdate}"
           ng-include="'src/pronampe/form.html'"></div>
           <div class="tab-pane"
           id="tabLog"
           ng-if="tabUpdate"
           ng-include="'src/pronampe/log.html'"></div>
       <div class="tab-pane"
           id="tabDelete"
           ng-if="tabDelete"
           ng-class="{active: tabDelete}"
           ng-include="'src/pronampe/form.html'"></div>
     </div>
   </div>
</section>
